# Índice <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Construindo um dataframe](#read)
3. [Renomeando colunas](#colunas)
4. [Renomeando índices](#indices)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import pandas as pd
import numpy  as np

# 2. Construindo um dataframe <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
df = pd.DataFrame(
    np.random.randn(9, 4)*100,
    index=["A", "B", "C", "D", "E", "F", "G", "H", "I"],
    columns=["coluna1", "coluna2", "coluna3","coluna4"],
)
df

      coluna1     coluna2     coluna3     coluna4
A  157.361461  -47.724013  -39.738770  -70.927450
B  -79.778569  -21.314715  -25.950323    5.327168
C  196.808092   -4.588883  -36.353946  173.954257
D -139.403788 -110.772708  -35.659909  -63.891390
E   -1.146116    4.586482 -122.621869  129.422925
F  -66.732970 -119.971594  -82.297405  170.962265
G   53.772757  103.234673  -97.229803 -216.822152
H  202.333459 -127.829524   93.895480   12.208832
I -194.380580  134.104123   -5.187491  -28.605721

# 3. Renomeando colunas <a name="colunas"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [3]:
df.columns

Index(['coluna1', 'coluna2', 'coluna3', 'coluna4'], dtype='object')

In [4]:
df.columns = ['segunda', 'terça', 'quarta', 'quinta']

In [5]:
df.columns

Index(['segunda', 'terça', 'quarta', 'quinta'], dtype='object')

In [6]:
df

      segunda       terça      quarta      quinta
A  157.361461  -47.724013  -39.738770  -70.927450
B  -79.778569  -21.314715  -25.950323    5.327168
C  196.808092   -4.588883  -36.353946  173.954257
D -139.403788 -110.772708  -35.659909  -63.891390
E   -1.146116    4.586482 -122.621869  129.422925
F  -66.732970 -119.971594  -82.297405  170.962265
G   53.772757  103.234673  -97.229803 -216.822152
H  202.333459 -127.829524   93.895480   12.208832
I -194.380580  134.104123   -5.187491  -28.605721

# 4. Renomeando índices <a name="indices"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [7]:
df['coluna5'] = ['letraA','letraB','letraC','letraD','letraE','letraF','letraG','letraH','letraI']

In [8]:
df

      segunda       terça      quarta      quinta coluna5
A  157.361461  -47.724013  -39.738770  -70.927450  letraA
B  -79.778569  -21.314715  -25.950323    5.327168  letraB
C  196.808092   -4.588883  -36.353946  173.954257  letraC
D -139.403788 -110.772708  -35.659909  -63.891390  letraD
E   -1.146116    4.586482 -122.621869  129.422925  letraE
F  -66.732970 -119.971594  -82.297405  170.962265  letraF
G   53.772757  103.234673  -97.229803 -216.822152  letraG
H  202.333459 -127.829524   93.895480   12.208832  letraH
I -194.380580  134.104123   -5.187491  -28.605721  letraI

In [9]:
df.set_index('coluna5')

            segunda       terça      quarta      quinta
coluna5
letraA   157.361461  -47.724013  -39.738770  -70.927450
letraB   -79.778569  -21.314715  -25.950323    5.327168
letraC   196.808092   -4.588883  -36.353946  173.954257
letraD  -139.403788 -110.772708  -35.659909  -63.891390
letraE    -1.146116    4.586482 -122.621869  129.422925
letraF   -66.732970 -119.971594  -82.297405  170.962265
letraG    53.772757  103.234673  -97.229803 -216.822152
letraH   202.333459 -127.829524   93.895480   12.208832
letraI  -194.380580  134.104123   -5.187491  -28.605721

In [11]:
df

      segunda       terça      quarta      quinta coluna5
A  157.361461  -47.724013  -39.738770  -70.927450  letraA
B  -79.778569  -21.314715  -25.950323    5.327168  letraB
C  196.808092   -4.588883  -36.353946  173.954257  letraC
D -139.403788 -110.772708  -35.659909  -63.891390  letraD
E   -1.146116    4.586482 -122.621869  129.422925  letraE
F  -66.732970 -119.971594  -82.297405  170.962265  letraF
G   53.772757  103.234673  -97.229803 -216.822152  letraG
H  202.333459 -127.829524   93.895480   12.208832  letraH
I -194.380580  134.104123   -5.187491  -28.605721  letraI

In [15]:
df.reset_index()

  index     segunda       terça      quarta      quinta coluna5
0     A  157.361461  -47.724013  -39.738770  -70.927450  letraA
1     B  -79.778569  -21.314715  -25.950323    5.327168  letraB
2     C  196.808092   -4.588883  -36.353946  173.954257  letraC
3     D -139.403788 -110.772708  -35.659909  -63.891390  letraD
4     E   -1.146116    4.586482 -122.621869  129.422925  letraE
5     F  -66.732970 -119.971594  -82.297405  170.962265  letraF
6     G   53.772757  103.234673  -97.229803 -216.822152  letraG
7     H  202.333459 -127.829524   93.895480   12.208832  letraH
8     I -194.380580  134.104123   -5.187491  -28.605721  letraI

In [14]:
df.reset_index(drop=True)

      segunda       terça      quarta      quinta coluna5
0  157.361461  -47.724013  -39.738770  -70.927450  letraA
1  -79.778569  -21.314715  -25.950323    5.327168  letraB
2  196.808092   -4.588883  -36.353946  173.954257  letraC
3 -139.403788 -110.772708  -35.659909  -63.891390  letraD
4   -1.146116    4.586482 -122.621869  129.422925  letraE
5  -66.732970 -119.971594  -82.297405  170.962265  letraF
6   53.772757  103.234673  -97.229803 -216.822152  letraG
7  202.333459 -127.829524   93.895480   12.208832  letraH
8 -194.380580  134.104123   -5.187491  -28.605721  letraI